

.rainbowButton
    border: none
    border-radius: 5px
    cursor: pointer
    padding: 10px 20px
    color: white
    --rb-color-0: #7367F0
    --rb-color-1: #8E2DE2
    --rb-color-2: #4A00E0
    background: radial-gradient(circle at top left, var(--rb-color-0), var(--rb-color-1), var(--rb-color-2))
    transition: --rb-color-0 2s linear, --rb-color-1 2s linear, --rb-color-2 2s linear, box-shadow .5s ease, transform .5s ease
    animation: colors 16s linear infinite alternate

    &:hover
        transform: scale(1.05)
        box-shadow: 3px 2px 7px rgba(0, 0, 0, 0.5)
