
@mixin glitch-transformation($top, $left, $v-height)
    $t-cut: calc(#{ $top / 10 } * 100%)
    $b-cut: calc(#{ $top / 10 } * 100% + #{ $v-height })
    transform: translateX(calc(#{ $left } * 100%))
    clip-path: polygon(-20% $t-cut, 120% $t-cut, 120% $b-cut, -20% $b-cut)

.logo
    color: white
    position: fixed
    display: flex
    justify-content: space-between
    align-items: flex-end
    font-weight: bold
    pointer-events: none
    font-size: 3rem
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    transition: all 1.2s 1.25s ease-in-out, font-size 0s
    will-change: transform, left, top
    z-index: 10

    &.animate
        left: 5%
        top: 3%
        transform: scale(0.5)
        transform-origin: 0 0

        .logo__glitch
            &::before
                animation: glitch-b 40s 2.4s steps(1, end) infinite alternate-reverse

            &::after
                animation: glitch-a 30s 2.4s steps(1, end) infinite alternate

    &--small
        font-size: 0.8em

    &__glitch
        position: relative
        &::before ,&::after
            content: attr(data-text)
            color: white
            position: absolute
            left: 0
            top: 0
            $top: -2
            $left: 0
            $v-height: 120%
            @include glitch-transformation($top, $left, $v-height)

        &::before
            text-shadow: -3px -3px #00fff9
        &::after
            text-shadow: 3px 3px  #ff00c1

@keyframes glitch-a

    $steps: 150

    @for $i from 0 through $steps
        #{percentage($i*(1/$steps))}
            @if $i % 5 != 0
                @include glitch-transformation(0, 0, 0%)
            @else
                $top: #{random(4) + 2}
                $left: #{random(30) / 100 - random(30) / 100 + 0.02}
                $v-height: #{percentage((random(3) + 2) * (1/20))}
                @include glitch-transformation($top, $left, $v-height)

@keyframes glitch-b
    $steps: 150

    @for $i from 0 through $steps
        #{percentage($i*(1/$steps))}
            @if $i % 5 != 0
                @include glitch-transformation(0, 0, 0%)
            @else
                $top: #{random(4) + 2}
                $left: #{random(30) / 100 - random(30) / 100 - 0.02}
                $v-height: #{percentage((random(3) + 2) * (1/20))}
                @include glitch-transformation($top, $left, $v-height)
