@import "styles/variables"

.mainBlockContainer
    position: relative
    background-color: var(--dark-color)

    .contentContainer
        position: relative
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
        justify-content: space-between
        align-items: center

        > i
            position: absolute
            top: 30px
            right: 50px
            color: white
            font-size: 0.8rem
            opacity: 0
            transform: translateX(-100%)
            transition: all 1s 4s ease

            &.animate
                opacity: 1
                transform: translateX(0)

            @media all and (min-width: $screen-smd)
                right: 40%

            @media all and (min-height: 900px)
                top: 60px

            &::before
                content: "→"
                font-size: 1.2em
                position: absolute
                bottom: 0
                left: 50%
                animation: arrow-translate 1s ease infinite alternate


@keyframes arrow-translate
    from
        transform: translate(-70%, 50%)
    to
        transform: translate(0, 50%)


