@import "styles/variables"

.mainBlockContainer
    position: relative
    background-color: var(--dark-color)

    .contentContainer
        position: relative
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
        justify-content: space-between
        align-items: center

        &__scrollNSwipe
            position: absolute
            top: 30px
            right: 50px
            color: white
            font-size: 0.8rem
            opacity: 0
            transform: translateX(-100%)
            transition: transform 1s 4s ease, opacity 1s 4s ease

            @media all and (min-width: $screen-smd)
                right: 40%

            @media all and (min-height: 900px)
                top: 60px

            &::before
                content: "→"
                font-size: 1.2em
                position: absolute
                bottom: 0
                left: 50%
                animation: arrow-translate 1s ease infinite alternate


        &__contacts
            position: absolute
            top: 30%
            right: 10px
            margin: -5px 0
            flex-direction: column

            @media all and (min-width: $screen-smd)
                top: 50px

            li
                margin: 5px 0
                transform: translateX(100%)
                opacity: 0

                @for $i from 0 through 10
                    &:nth-child(#{$i})
                        transition: all 0.5s #{3.8 + $i * 0.2 + s} ease

    &.animate
        .contentContainer__scrollNSwipe
            opacity: 1
            transform: translateX(0)

        .contentContainer__contacts
            li
                opacity: 1
                transform: translateX(0)


@keyframes arrow-translate
    from
        transform: translate(-70%, 50%)
    to
        transform: translate(0, 50%)


