@import "styles/variables"

.aboutContainer
    display: flex
    flex-direction: column
    align-items: flex-start
    align-self: flex-start
    $marginLeft: 5%
    $marginTop: 3%
    margin-left: $marginLeft
    margin-top: $marginTop
    width: 70%
    height: 50%
    color: white

    &__title
        color: #99999d
        font-size: 3rem
        font-weight: bold
        animation: title-appearance 5.2s ease

        &:first-child
            animation: title-appearance 4.9s ease

    &__about
        margin-top: 10px
        font-size: 1.2rem
        width: 150%
        animation: about-appearance 5.6s ease

    .aboutBtnContainer
        margin-top: 50px
        animation: btn-appearance ease 5.6s
        .aboutBtn
            font-size: 1rem
            &::after
                content: "→"
                font-width: bold
                display: inline-flex
                animation: arrowTranslate 1s ease infinite alternate

    @media all and (min-width: $screen-md)
        height: 40%



@keyframes title-appearance
    0%, 70%
        transform: translateX(-100%)
        opacity: 0
    100%
        transform: translateY(0)
        opacity: 1

@keyframes about-appearance
    0%, 90%
        transform: translateY(80px)
        opacity: 0
    100%
        transform: translateY(0px)
        opacity: 1

@keyframes btn-appearance
    0%, 90%
        opacity: 0
        transform: translateY(50px)
    100%
        opacity: 1
        transform: translateY(0)


@keyframes arrowTranslate
    from
        transform: translateX(0)
    to
        transform: translateX(10px)

